body {
  background-color: #1E2529;
  color: white;
  font-family: Cambria, serif;
}

a {
  color: #6FFFE9;
  text-decoration: none;
}

h2 {
  font-family: Helvetica, sans-serif;
}

#index {
  margin-left: 6.5%;
  list-style: none;
  line-height: 25px;
}

#name {
  text-align: center;
}

#joao {
  padding: 10px;
  background-color: #3A506B;
}

#footer {
  margin-left: 10%;
}

.italic {
  font-style: italic;
}

.bigger-font {
  font-size: 25px;
}

.description-profile {
  width: 20%;
  margin-left: 19%;
  display: inline-block;
  vertical-align: middle;
  text-align: justify;
  font-size: 1.2em;
}

.main-skills {
  margin-left: 10%;
}

.other-skills {
  margin-left: 10%;
  font-size: 1.1em;
}

ul.skills li:nth-of-type(odd) {
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}
