body {
  background-color: #1E2529;
  color: white;
  font-family: Cambria, serif;
}

h1, nav.index {
  margin-left: 10%;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav.index ul li {
  display: inline;
}

nav#social ul {
  line-height: 40px;
}

a {
  color: #6FFFE9;
  text-decoration: none;
}

hr {
  border: 1px solid #3A506B;
  margin-top: 0;
}

h2 {
  font-family: Helvetica, sans-serif;
}

img {
  width: 300px;
}

#name {
  text-align: center;
}

#joao {
  padding: 10px;
  background-color: #3A506B;
}

#main-skills {
  margin-left: 10%;
}

#other-skills {
  margin-left: 10%;
  font-size: 1.1em;
}

.description-profile {
  width: 20%;
  margin-left: 19%;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: justify;
  font-size: 1.2em;
}

.bigger-font {
  font-size: 25px;
}

ul.skills li:nth-of-type(odd) {
  font-style: italic;
}

a:hover {
  color: white;
  transition: 300ms;
}

a:active {
  text-decoration: underline;
}
