body {
  background-color: #1E2529;
  color: white;
  font-family: Cambria, serif;
}

a {
  color: #6FFFE9;
  text-decoration: none;
}

h2 {
  font-family: Helvetica, sans-serif;
}

#index {
  list-style: none;
}

#name {
  text-align: center;
}

.italic {
  font-style: italic;
}

.bigger-font {
  font-size: 25px;
}

.description-profile {
  width: 20%;
  margin-left: 19%;
  display: inline-block;
  vertical-align: middle;
  text-align: justify;
  font-size: 1.2em;
}
